footer {
    position: fixed;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EBEBE8;
    color: #31352E;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

footer a {
    text-decoration: none;
    color: #778A35;
}