
#gallery {
   display: flex;
   flex-direction: row;
   width: 100%;
   overflow: auto;
   height: 200px;
   border-radius: 25px;

 }

 #gallery::-webkit-scrollbar {
   display: none;
 }
 
.picture {
   height: 200px;
}

#picture-caption-box {
   text-align: center;
}

