 #image-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    /* border-style: solid; */
    margin-top: 0;
 }

 #image-details {
   /* border-style: solid; */
   height: 300px;
   width: 300px;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
 }
 
img {
   max-height: 300px;
   max-width: 300px;
   /* border-style: solid; */

}

#prev-button{
   /* border-style: solid; */

}

#next-button {
   /* border-style: solid; */

}
