
#gallery {
   display: flex;
   flex-direction: row;
   width: 100%;
   overflow: auto;
   height: 200px;
   border-radius: 25px;
   margin-bottom: 2%;
 }

 #gallery::-webkit-scrollbar {
   display: none;
 }
 
.picture {
   height: 200px;
}

