body {
    margin-right: 5%;
    margin-left: 5%;
    background-color: #EBEBE8;
    font-family: 'Source Serif 4';
    /* width: 100%; */
}

#search-input {
    width: 50%;
    /* border-radius: 0%; */
    border-width: 0;
    padding: 0.5%;
    font-family: 'Source Serif 4';
    margin-top: 1%;
    margin-bottom: 1%;
}